.flex-container{
	  border-radius: 28px;
		color: whitesmoke;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
		height: 85%;
    min-height: 300px;
    margin: 10% auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}
.flex-container .column{
    padding: 18px;
    background: #e28525;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}
.flex-container .column.bg-alt{
    background: #016972;
}

.flex-container .column.bg-p{
    background: #00403f;
}

 .button {
  background-color: inherit;
  height:25px;
  width:98px;
  border:none;
	border: 2px solid black;
  color:white;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 26px;
	border-color: whitesmoke;
}