.main-container{
	  border-radius: 28px;
    font-weight: 400, 500, 600, 700;
		color: whitesmoke;
    font-size: 16px;
    /* TODO: change to [Poppins](https://fonts.google.com/specimen/Poppins)*/
		font-family: Arial, Helvetica, sans-serif;
    width: 80%;
		height: 95vh;
    min-height: 300px;
    margin: 10% auto;
    display: -webkit-flex; /* Safari */     
    display: grid; /* Standard syntax */
}

.main-container {
    padding: 18px;
    background-color: #ff7978;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}

@media screen and (max-width: 1440px) {
  .main-container{
    background-image: url(../images/bg-intro-desktop.png);
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 3px;
 
  }

  .left{
    grid-row: 4/8;
    grid-column:  2/3;
  }

  .right{
    grid-row: 2/8;
    grid-column: 3/4;
    display: grid;
    grid-gap: 6px;
  }
  .upper{
 
  }

.lower{
 
}



}

@media screen and (max-width: 375px) {
  .main-container{
    background-image: url(../images/bg-intro-mobile.png);
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 3px;
  }

  .left{
    grid-row: 2/5;
    grid-column:  2/3;
  }

  .right{
    grid-row: 7/18;
    grid-column: 2/3;
    
  }
}